::-webkit-scrollbar {
  background: none;
  width: 7px;
  border-radius: 100px;

  }
  ::-webkit-scrollbar-thumb {
    background: #2F2F2F;
    width: 10px;

    }
  *{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    --color1: #111111;
    --color2: #2F2F2F;
    --color3: #ffffff;
    --color4: #FFCB74;
    --text: uppercase;
    --font: Sans-serif;
    
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  outline: none;
}
header{
    color: white;
    padding: 20px 30px 20px 40px;
    background-color: white;
    display: flex;
    color: black;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: Sans-serif;
    font-size: 16px;
    border-bottom: solid 1px lightgray;
    
}
header h2 img{
    height: 35px;
}
  .list-header{
    display: flex;
}
  .list-header{
      margin-left: 5%;
}
  .list-header ul{
      display: flex;
}
.no-prog:hover{
  border-bottom: solid 1px var(--color2);
  border-top: solid 1px var(--color2);
  color: var(--color2);
  margin-top: 0;
  transition: .1s;
  padding: 4px 0;
}
  .list-header input{
  margin-left: -30px;
  margin-top: 2px;
  padding: 7px 8px 7px 5px;
  border-radius: 1px;
  border: solid 1px black;
  outline: none;
}

  .list-header input:focus{
    box-shadow: 1px 1px 3px grey;
}
  .list-header ul li:not(.programs){
      list-style: none;
      margin: 0 20px;
      cursor: pointer;
      padding: 2px 1px 0 1px;
      border: solid 1px transparent;
      transition: .5s;
}
  .list-header ul li a:not(.programs){
    color: black;
    text-decoration: none;
}
.programs:hover{
  color: white;
}
  .list-header ul li::hover:not(.programs){
      border-bottom: solid 1px var(--color2);
      border-top: solid 1px var(--color2);
      padding: 4px 1px 2px 1px;
      margin-top: 0;
      transition: .2s;
}
  .scndbtn a{
    text-decoration: none;
      cursor: pointer;
      position: relative;
      font-size: 12px;
      padding: 6px 15px;
      margin: 0;
      background: whitesmoke;
      font-weight: 500;
      color: black;
      border: 1.4px solid black;
      border-radius: 2px;
      filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
}
    .scndbtn a:hover {
      border: 1.4px solid var(--color1);
      background: linear-gradient(85deg, var(--color3), var(--color3), var(--color3), var(--color3), );
      animation: wind 2s ease-in-out infinite;
}
    @keyframes wind {
      0% {
        background-position: 0% 40%;
      }
    
      0% {
        background-position: 40% 190%;
      }
    
      0% {
        background-position: 0% 40%;
      }
}   
    .icon-1 {
      position: absolute;
      top: 0;
      right: 0;
      
      width: 14px;
      transform-origin: 0 0;
      transform: rotate(-5deg);
      transition: all .5s ease-in-out;
      filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
}   
    .scndbtn a:hover .icon-1 {
      animation: slay-3 5s cubic-bezier(0.52, 0, 0.58, 1) infinite;
      transform: rotate(10deg);
}    
    @keyframes slay-1 {
      0% {
        transform: rotate(-5deg);
      }
    
      50% {
        
        transform: rotate(10deg);
      }
    
      100% {
        
        transform: rotate(-5deg);
      }
} 
    .icon-3 {
      position: absolute;
      top: 0;
      right: 109px;
      width: 18px;
      transform-origin: 50% 0;
      transform: rotate(-5deg);
      transition: all 3s ease-in-out;
      filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
} 
    .scndbtn a:hover .icon-3 {
      animation: slay-3 5s cubic-bezier(0.52, 0, 0.58, 1) infinite;
      transform: rotate(0);
}
    
    @keyframes slay-3 {
      0% {
      
        transform: rotate(-5deg);
      }
    
      50% {
        
        transform: rotate(-20deg);
      }
    
      100% {
  
        transform: rotate(-5deg);
      }
}
.programs{

    background: black;
    border: solid 1px black;
    color: white;
    padding: 5px;
    text-decoration: none;
}


.nav1{
  padding: 2%;
  min-height: 115vh;
  border-bottom: solid 1px rgb(104, 104, 104);
}
.nav1 div{
  animation: transitionIn1 1s;

  display: flex;
  justify-content: space-between;
}
.nav1 div:nth-child(2){
  margin-right: 40px;
}

.nav1 div input{
  margin-top: -9px;
  margin-left: 10px;
  padding: 10px 100px 10px 5px;
  border-radius: 1px 0 0 1px;
  border: solid 1px black;
  outline: none;
  box-shadow: -1px 2px 2px  lightgray;

}
.nav1 div input:focus{
  box-shadow: -1px 2px 2px  rgba(211, 211, 211, 0);

}
.nav1 div input:focus ~ svg{
  background-color: rgba(244, 244, 244, 0.719);
  box-shadow: -1px 2px 2px  rgba(211, 211, 211, 0);
}
.search{
  border: none;
}

.main-container{
  display: block;
}
.search svg{
  cursor: pointer;
  box-shadow: -0 2px 2px  lightgray;
  border-radius: 0 1px 1px 0;
  border: solid 1px black;
  margin-top: -9px;
  padding: 3.3px 3px 3px 3px;
  border-left: none;
}

@keyframes all {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
body{
  animation: all .4s;
}
@keyframes transitionIn1 {
  0% {
    opacity: 0;
    transform: translateX(-50px);

  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes transitionIn2 {
  0% {
    opacity: 0;
    transform: translateX(50px);

  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
.element1{
  animation: transitionIn1 1s;
}
.element2{
  animation: transitionIn2 1s;
}
.element{
  position: absolute;
  padding: 1% 20px 2% 20px;
}
.element:nth-child(1){
  top: 30%;
  left: 1%;
  margin-right: 50px;
}
.element:nth-child(2){
  top: 30%;
  right: 1%;
}

.cards{
  cursor: pointer;
  transition: .2s;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 1px 1px 10px rgb(189, 189, 189);
}
.cards:hover{
  transform: scale(1.1);
  transition: .3s;
}
.cards div{
  text-transform: uppercase;
  font-family: sans-serif;
}
@keyframes nothing-alert {
  from{
    letter-spacing: 0;
    transform: scale(1);
  }
  to{
    letter-spacing: 1.5px;
    transform: scale(1.2);

  }
}
#nothing-alert{
  animation: nothing-alert 2s infinite linear;
	display: none;
  position: absolute;
	width: 100%;
	margin: 150px 0 100px 270%;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}
.content{
  display: flex;
  margin-top: 10px;
  padding: 20px;
}
.content1{
  padding-right: 150px;
}
.invisible{
  display: none;
}
.icon-name span{
  display: none;
  overflow: hidden;
  outline: none;
}

.button button{
  background: none;
  border: solid 2px green;
  border-radius: 20px;
  padding: 10px 15px;
  transition: .3s;
  cursor: pointer;

}
.button button a{
  cursor: pointer;
  text-decoration: none;
  color: green;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  transition: .2s;

}
.button button:hover{
  background: green;
}
.button button:hover > a{
  color: white;
  transition: .2s;
}
.main-container1{
  margin-top: 40px;
}
.main-container2{
  margin-top: 40px;
}
.element label{
  border: solid 2px black;
  margin: -20px 250px 0 0;
  padding: 20px 50px 20px 40px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}

/*@keyframes animateButton {
  0% { border-color: black(232, 232, 232); }
  50% { background-color: rgba(34, 36, 34, 0.068); }
  100% { background-color: white; }
}  
.all-label2 label{
  animation: animateButton 2s infinite;
}*/
.all-label1 svg{
  margin: 0 0 -3px -290px;
}
.all-label2 svg{
  position: absolute;
  margin-left: -295px;
  margin-top: -3px;
}
input#lightswitch1 {
  position: fixed;
  top: -9999px;
  left: -9999px;
}
input#lightswitch2 {
  position: fixed;
  top: -9999px;
  left: -9999px;
}

/*input#lightswitch1 + .main-container1 {
  display: block;
}

input#lightswitch1:checked + .main-container1 {
  display: none;
}

input#lightswitch2 + .main-container2 {
  display: block;
}
input#lightswitch2:checked + .main-container2 {
  display: none;
}*/


.nav2{
  padding:  30px 0 40px;
  height: 100vh;
}
.nav3{
  padding:  30px 0 40px;
  height: 100vh;
}
.nav2 section{
  text-align: center;
  font-size: 17px;
}
@keyframes show {
  from {
    opacity: 0;
    filter: blur(5px);
  }
 to {
    opacity: 1;
    filter: blur(0);
  }
}
.show-animation{
  animation: show 1s;
}

.cards .content select{
  margin-top: 20px;
  cursor: pointer;
  background: #2F2F2F;
  color: white;
  padding: 5px 10px;  
  border-radius: 5px;
}